@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

.btn-primary {
  border: none;
  border-radius: 5px;
  background-color: #7b1fa2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #481160 !important;
}

.btn-danger {
  border: none;
  border-radius: 5px;
  background-color: #ce374a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-danger:hover, .btn-danger:active {
  background-color: #aa2c44 !important;
}

.btn-outline-primary {
  border: 1px solid #7b1fa2;
  border-radius: 5px;
  background-color: transparent;
  color: #7b1fa2;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
  border: 1px solid #7b1fa2 !important;
  color: #7b1fa2 !important;
  background-color: #ffffff !important;
}

.btn-secondary {
  border: none;
  border-radius: 5px;
  background-color: #f4f5f6;
  color: #221714;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-secondary:hover, .btn-secondary:active {
  background-color: #e2e2e2 !important;
  color: #221714 !important;
}

.btn-outline-secondary {
  border: 1px solid #706866;
  border-radius: 5px;
  background-color: transparent;
  color: #706866;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-outline-secondary:hover, .btn-outline-secondary:active {
  color: #221714 !important;
  background-color: #ffffff !important;
}

input {
  border: none;
  background-color: #f4f5f6;
  color: #221714;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
}

input:focus {
  outline: none;
  caret-color: #7b1fa2;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #221714;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #fcfcfc;
  overflow-x: hidden;
}

::-moz-selection {
  background-color: #ffbf35;
  color: #221714;
}

::selection {
  background-color: #ffbf35;
  color: #221714;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.slick-next::before,
.slick-prev::before {
  color: #7b1fa2;
}

/*! Firefox */
html {
  scrollbar-color: #f4f5f6 #706866;
}

/*! Other Browser */
body::-webkit-scrollbar {
  width: 11px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #706866 #f4f5f6;
}

body::-webkit-scrollbar-track {
  background: #f4f5f6;
}

body::-webkit-scrollbar-thumb {
  background-color: #706866;
  border-radius: 6px;
  border: 3px solid #f4f5f6;
}

body.hide-scrollbar::-webkit-scrollbar {
  width: 0.1em;
}

body.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbarDesign::-webkit-scrollbar {
  width: 11px;
}

.scrollbarDesign::-webkit-scrollbar-track {
  background: #f6f4ee;
}

.scrollbarDesign::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 6px;
  border: 3px solid #f6f4ee;
}

.loginForm li,
.registerForm li,
.forgotPasswordForm li,
.verificationForm li,
.newPasswordForm li {
  position: relative;
}
.loginForm li label,
.registerForm li label,
.forgotPasswordForm li label,
.verificationForm li label,
.newPasswordForm li label {
  margin: 30px 0 15px 0;
  font-weight: 500;
}
.loginForm li label span,
.registerForm li label span,
.forgotPasswordForm li label span,
.verificationForm li label span,
.newPasswordForm li label span {
  color: #7b1fa2;
}
.loginForm li img,
.registerForm li img,
.forgotPasswordForm li img,
.verificationForm li img,
.newPasswordForm li img {
  position: absolute;
  z-index: 5;
  top: 86px;
  left: 20px;
}
.loginForm li input,
.registerForm li input,
.forgotPasswordForm li input,
.verificationForm li input,
.newPasswordForm li input {
  width: 100%;
  padding-left: 50px;
}
.loginForm li h3,
.registerForm li h3,
.forgotPasswordForm li h3,
.verificationForm li h3,
.newPasswordForm li h3 {
  margin: 15px 0 32px 0;
  color: #7b1fa2;
  font-weight: 500;
  font-size: 14px;
}
.loginForm li h3:hover,
.registerForm li h3:hover,
.forgotPasswordForm li h3:hover,
.verificationForm li h3:hover,
.newPasswordForm li h3:hover {
  text-decoration: underline;
  text-decoration-color: #7b1fa2;
}
.loginForm li button,
.registerForm li button,
.forgotPasswordForm li button,
.verificationForm li button,
.newPasswordForm li button {
  padding: 18px;
  width: 100%;
  border-radius: 10px;
}
.loginForm li h6,
.registerForm li h6,
.forgotPasswordForm li h6,
.verificationForm li h6,
.newPasswordForm li h6 {
  color: #706866;
  font-size: 14px;
  background-color: #ffffff;
  text-align: center;
  margin: 30px 0;
}
.loginForm li h6 span,
.registerForm li h6 span,
.forgotPasswordForm li h6 span,
.verificationForm li h6 span,
.newPasswordForm li h6 span {
  color: #e2e2e2;
}
.loginForm li h4,
.registerForm li h4,
.forgotPasswordForm li h4,
.verificationForm li h4,
.newPasswordForm li h4 {
  color: #706866;
  font-size: 16px;
  text-align: center;
  margin-top: 28px;
}
.loginForm li h4 span:hover,
.registerForm li h4 span:hover,
.forgotPasswordForm li h4 span:hover,
.verificationForm li h4 span:hover,
.newPasswordForm li h4 span:hover {
  text-decoration: underline;
  text-decoration-color: #7b1fa2;
}
.loginForm .pw-list,
.registerForm .pw-list,
.forgotPasswordForm .pw-list,
.verificationForm .pw-list,
.newPasswordForm .pw-list {
  padding-left: 20px;
  margin: 8px 0 20px 0;
}
.loginForm .pw-list li,
.registerForm .pw-list li,
.forgotPasswordForm .pw-list li,
.verificationForm .pw-list li,
.newPasswordForm .pw-list li {
  list-style-type: disc;
  list-style-position: outside;
  color: #706866;
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=LoginForm.css.map */