@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

.btn-primary {
  border: none;
  border-radius: 5px;
  background-color: #7b1fa2;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #481160 !important;
}

.btn-danger {
  border: none;
  border-radius: 5px;
  background-color: #ce374a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-danger:hover, .btn-danger:active {
  background-color: #aa2c44 !important;
}

.btn-outline-primary {
  border: 1px solid #7b1fa2;
  border-radius: 5px;
  background-color: transparent;
  color: #7b1fa2;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-outline-primary:hover, .btn-outline-primary:active {
  border: 1px solid #7b1fa2 !important;
  color: #7b1fa2 !important;
  background-color: #ffffff !important;
}

.btn-secondary {
  border: none;
  border-radius: 5px;
  background-color: #f4f5f6;
  color: #221714;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-secondary:hover, .btn-secondary:active {
  background-color: #e2e2e2 !important;
  color: #221714 !important;
}

.btn-outline-secondary {
  border: 1px solid #706866;
  border-radius: 5px;
  background-color: transparent;
  color: #706866;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  cursor: pointer;
}
.btn-outline-secondary:hover, .btn-outline-secondary:active {
  color: #221714 !important;
  background-color: #ffffff !important;
}

input {
  border: none;
  background-color: #f4f5f6;
  color: #221714;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
}

input:focus {
  outline: none;
  caret-color: #7b1fa2;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #221714;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #fcfcfc;
  overflow-x: hidden;
}

::-moz-selection {
  background-color: #ffbf35;
  color: #221714;
}

::selection {
  background-color: #ffbf35;
  color: #221714;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.slick-next::before,
.slick-prev::before {
  color: #7b1fa2;
}

/*! Firefox */
html {
  scrollbar-color: #f4f5f6 #706866;
}

/*! Other Browser */
body::-webkit-scrollbar {
  width: 11px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #706866 #f4f5f6;
}

body::-webkit-scrollbar-track {
  background: #f4f5f6;
}

body::-webkit-scrollbar-thumb {
  background-color: #706866;
  border-radius: 6px;
  border: 3px solid #f4f5f6;
}

body.hide-scrollbar::-webkit-scrollbar {
  width: 0.1em;
}

body.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.scrollbarDesign::-webkit-scrollbar {
  width: 11px;
}

.scrollbarDesign::-webkit-scrollbar-track {
  background: #f6f4ee;
}

.scrollbarDesign::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 6px;
  border: 3px solid #f6f4ee;
}

.card-container {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 5px 30px 0px rgba(219, 219, 219, 0.3);
  display: flex;
  flex-direction: row;
  align-items: space-between;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .card-container {
    flex-direction: column;
    height: 430px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
.card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.card-container .img {
  width: 35%;
  max-width: 270px;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .card-container .img {
    width: 100%;
    height: 200px;
    max-width: none;
    border-radius: 10px 10px 0px 0px;
  }
}
.card-container .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}
@media screen and (max-width: 767px) {
  .card-container .img img {
    border-radius: 10px 10px 0px 0px;
  }
}
.card-container .text {
  padding: 22px;
  width: 100%;
}
.card-container .text .text-bottom {
  border-top: 1px solid rgba(157, 155, 155, 0.2);
  padding-top: 12px;
}
.card-container .text h2 {
  font-size: 12px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #ffbf35;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 5px;
}
.card-container .text h3 {
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 9px;
  cursor: pointer;
}
.card-container .text h5 {
  line-height: 170%;
  color: #706866;
  margin-bottom: 20px;
  cursor: pointer;
}
.card-container .text h4 {
  margin: 4px 0 0 0;
  font-weight: 600;
  line-height: 130%;
  font-size: 20px;
  color: #7b1fa2;
}
.card-container .text h6 {
  font-size: 13px;
  font-weight: 500;
  line-height: 130%;
  margin: 0 5px 0 0;
}
.card-container .text h6:nth-child(2) {
  margin-bottom: 2px;
}
.card-container .text h6:last-child {
  margin-right: 20px;
}
.card-container .text .btn-primary {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  padding: 8px 13px;
}
.card-container .blog-text .text-bottom {
  border-top: 1px solid rgba(157, 155, 155, 0.2);
  padding-top: 15px;
}
.card-container .blog-text h4 {
  margin-top: 0;
  font-weight: 500;
  font-size: 15px;
  color: #706866;
}
.card-container .blog-text p {
  color: #706866;
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}/*# sourceMappingURL=ProductCardHorizontal.css.map */