@import "../../App.scss";
.nav {
    background-color: $background-color-beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #481160;
    color: $color-white;
    min-height: 441px;

    @include mobile-center;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 1173px;
        height: 100%;
        width: 100%;
        padding: 60px;
        height: 100%;
        flex-grow: 1;
    
        .main-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: top;
            height: 100%;
            width: 100%;

            @include mobile {
                flex-direction: column;
            }

            //very left youngleehan
            .youngleehan-korean {
                color: #ffffff;
                font-family: "Inter-Medium", Helvetica;
                font-size: 15px;
                font-weight: 500;
                left: 0;
                letter-spacing: 0;
                line-height: normal;
                top: 0;
                white-space: nowrap;
            }

            .links {
                height: 100px;
                left: 646px;
                top: 0px;
                width: 441px;
                padding: 0 60px;
                .LINKS-2 {
                    color: #ffcd61;
                    font-family: "Inter-Medium", Helvetica;
                    font-size: 15px;
                    font-weight: 500;
                    left: 0;
                    letter-spacing: 0;
                    line-height: normal;
                    top: 0;
                    width: 58px;
                    white-space: nowrap;
                }
                .nav-link {
                    color: #ffffff;
                }
                .nav-item {
                    margin-right: 10px;}
                .home-about {
                    font-family: "Inter-Regular", Helvetica;
                    font-size: 12px;
                    font-weight: 400;
                    left: 0;
                    letter-spacing: 0;
                    line-height: 35.2px;
                    top: 45px;
                    width: 437px;

                    li {
                        display: inline-block;
                        margin-right: 6px;
                        margin-left: 0px;
                        border-right: 1px solid #ffffff;
                        padding-right: 10px;

                        @include mobile {
                            display: block;
                            border-right: none;
                        }
                    }
                    li-in {
                        display: inline-block;
                        margin-right: 6px;
                        margin-left: 6px;
                        border-right: 1px solid #ffffff;
                        padding-right: 10px;

                        @include mobile {
                            display: block;
                            border-right: none;
                        }
                    }
                }               
            }
            .newletter {
                height: 100px;
                left: 646px;
                top: 0px;
                width: 441px;
                padding: 0 20px;
                .NEWSLETTER-2 {
                    color: #ffcd61;
                    font-family: "Inter-Medium", Helvetica;
                    font-size: 15px;
                    font-weight: 500;
                    left: 0;
                    letter-spacing: 0;
                    line-height: normal;
                    top: 0;
                    width: 58px;
                    white-space: nowrap;
                }
                .let-s-learn-with {
                        color: #ffffff;
                        font-family: "Inter-Regular", Helvetica;
                        font-size: 14px;
                        font-weight: 400;
                        left: 0;
                        letter-spacing: 0;
                        line-height: 35.2px;
                        top: 45px;
                        width: 437px;
                    }
                    
            }
        }
    }
    
}


// .newsletter {
//     height: 100px;
//     left: 646px;
//     top: 0px;
//     width: 441px;
//     padding: 0 20px;
//     .NEWSLETTER-2 {
//         color: #ffcd61;
//         font-family: "Inter-Medium", Helvetica;
//         font-size: 15px;
//         font-weight: 500;
//         left: 0px;
//         letter-spacing: 0;
//         line-height: 40px;
//         top: 0;
//         width: 58px;
//     }
// }

//         .sub-content {
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;
//             align-items: center;
//             border-top: 1px solid #ffffff;
//             height: 100%;
//             width: 100%;
//             //background-color: blue;
//         }
//     }
// }

// .footer .youngleehan-korean {
//     color: #ffffff;
//     font-family: "Inter-Medium", Helvetica;
//     font-size: 20px;
//     font-weight: 600;
//     left: 0;
//     letter-spacing: 0;
//     line-height: normal;
//     position: absolute;
//     top: 0;
//     white-space: nowrap;
// }





// input {
//     border: none;
//     background-color: #f4f5f6;
//     color: #221714;
//     border-radius: 10px;
//     padding: 20px;
//     font-size: 14px;
//     width: 404.45px;
// }
// .footer .let-s-learn-with {
//     color: #ffffff;
//     //     font-family: "Inter-Regular", Helvetica;
//     //     font-size: 16px;
//     //     font-weight: 400;
//     //     left: 0;
//     //     letter-spacing: 0;
//     //     line-height: 32px;
//     //     position: absolute;
//     //     top: 45px;
//     //     width: 357px;
// }

// .footer .overlap {
// background-image: url(./futter-bg.svg);
// background-size: 100% 100%;
// height: 441px;
// left: 1px;
// position: relative;
// width: 1920px;
// @include mobile-center;
// }

// .footer .element-all-rights {
// height: 58px;
// left: 373px;
// position: absolute;
// top: 352px;
// width: 1173px;
// }

// .footer .line {
// height: 1px;
// left: 1px;
// object-fit: cover;
// position: absolute;
// top: -1px;
// width: 1173px;
// }

// .footer .copyright-deski {
// height: 28px;
// left: 0;
// position: absolute;
// top: 30px;
// width: 813px;
// }

// .footer .div {
// height: 28px;
// position: relative;
// width: 817px;
// }

// .footer .privacy-terms {
// color: #f6f6ee;
// font-family: "Inter-Regular", Helvetica;
// font-size: 14px;
// font-weight: 400;
// left: 0;
// letter-spacing: 0;
// line-height: 28px;
// position: absolute;
// top: 0;
// width: 208px;
// }

// .footer .text-wrapper {
// color: #f6f6ee;
// font-family: "Inter-Regular", Helvetica;
// font-size: 14px;
// font-weight: 400;
// letter-spacing: 0;
// line-height: 28px;
// white-space: nowrap;
// }

// .footer .NEWSLETTER {
// height: 152px;
// left: 1141px;
// width: 409px;
// }



// .footer .overlap-group {
// background-color: #ffffff;
// border-radius: 10px;
// box-shadow: 0px 0px 0px transparent;
// height: 56px;
// position: relative;
// width: 404px;
// }

// .footer .enter-your-email {
// color: #7b8289;
// font-family: "Inter-Medium", Helvetica;
// font-size: 13px;
// font-weight: 500;
// left: 20px;
// letter-spacing: 0;
// line-height: 26px;
// position: absolute;
// top: 16px;
// // width: 109px;
// width: 404.45px;
// }

// .footer .SUBSCRIBE-2 {
// color: #7b1fa2;
// font-family: "Inter-SemiBold", Helvetica;
// font-size: 15px;
// font-weight: 600;
// left: 299px;
// letter-spacing: 0;
// line-height: 4.4;
// position: absolute;
// top: 14px;
// width: 85px;
// }

// .footer .LINKS {
// height: 110px;
// left: 646px;
// position: absolute;
// top: 55px;
// width: 441px;
// }

// .footer .home-about {
// color: #ffffff;
// font-family: "Inter-Regular", Helvetica;
// font-size: 16px;
// font-weight: 400;
// left: 0;
// letter-spacing: 0;
// line-height: 35.2px;
// position: absolute;
// top: 45px;
// width: 437px;
// }

// .footer .LINKS-2 {
// color: #ffcd61;
// font-family: "Inter-Medium", Helvetica;
// font-size: 20px;
// font-weight: 500;
// left: 0;
// letter-spacing: 0;
// line-height: 40px;
// position: absolute;
// top: 0;
// width: 58px;
// }

// .footer .courseway {
// height: 24px;
// left: 378px;
// position: absolute;
// top: 60px;
// width: 210px;
// }


// .home-about {

// display: flex;
// align-items: center;